.item-details__inner {
    display: flex;
    justify-content: space-between;
}

.item-details__img {
    width: 500px;
    height: 700px;
}

.item-details__content {
    max-width: 500px;
}
.total {
    display: flex;
    justify-content: space-between;
}