.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.sort {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.slider {
    margin-top: 40px;
    margin-right: 20px;    
}

.btn-wrap {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 900px){
    .products {
        justify-content: center;
    }
}

@media screen and (max-width: 650px){
    .sort {
       flex-direction: column;
       margin-bottom: 40px;
    }

    .reset-wrap {
        display: flex;
        justify-content: center;
    }

    .btn-wrap {
        width: 100%;
    }
    .btn {
        padding: 5px 10px;
        font-size: 14px;
    }
}