.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.sort {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider {
    margin-top: 40px;
    margin-right: 20px;    
}

.btn-wrap {
    min-width: 350px;
    display: flex;
    justify-content: space-between;
}

.sort-btn {
    color:#3f51b5;
    border: 1px solid #3f51b5;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: #3f51b5;
}

.sort-btn:hover {
    background-color: rgba(0, 224, 255, 0.2);
}

.sort-btn svg {
    margin-left: 10px;
}