.header {
    position: sticky;
    top: 0;
    background-color: #00E0FF;
    z-index: 2;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1400px;
    padding: 10px 0;
    margin: 0 auto;
}

.logo {
    font-size: 26px;
    color: #fff;
    text-decoration: none;
}

.logo:hover {
    text-decoration: underline;
}

.basket {
    position: relative;
}

.basket__count {
    position: absolute;
    top: 15px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color:red;
}