.basket-item {
    margin: 40px 0 100px;
    width: 45vw;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.basket-item__img {
   width: 40%;
}

.basket-item__content {
    width: 40%;
    max-width: 400px;
   
}

.remove-btn {
    margin-top: 40px;
}

.return-link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}