.basket-item {
    margin: 40px 0 100px;
    width: 45vw;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.basket-item__img {
    width: 320px;
   /* flex-basis: 320px; */
}

.basket-item__content {
    flex-basis: 320px;
    /* max-width: 400px; */
   
}

.remove-btn {
    margin-top: 40px;
}

